* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Fondo de paginas*/
#perfil {
    background-image: url('../img/bg5.jpg');
}

#registro {
    background-image: url('../img/bg2.jpg');
}

#login {
    background-image: url('../img/bg3.jpg');
}

.titulo-iniciar-sesion {
    color: #033166;
    font-size: 30px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    text-align: center;
}

#perfil-info {
    margin-top: 50px; 
}

#cerrar-sesion {
    margin-top: auto;
    margin-bottom: 50px; 
}

#cerrar-sesion a {  
    color: #007BFF ; 
    text-decoration: none; 
    font-size: 18px;
}

#cerrar-sesion a:hover {
    text-decoration: underline; 
}

.bienvenida {
    font-size: 2em;
    margin: 0;
}

main {
    width: 100%;
    max-width: 700px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

.contenedor {
    width: 100%;
    text-align: center;
}

/*capa_azul*/
.caja{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 128, 255, 0.5);
    border-radius: 20px; 
}

.caja div{
    margin: 100px 40px;
    color: white;
    transition: all 500ms;
}

/*botones*/
.caja-login button {
    padding: 20px 40px;
    border: 2px solid #fff;
    background: transparent;
    color: white;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    transition: all 300ms;
    border-radius: 05px;
}

.caja div p,
.caja button{
    margin-top: 20px;
}

.caja-login button:hover {
    background: #fff;
    color: #46A2FD;
}

input[type="text"], input[type="password"], input[type="email"]{
    outline: none;
    padding: 20px;
    display: block;
    width: 300px;
    border-radius: 3px;
    border: 1px solid #eee;
    margin: 20px auto;
  }
  
  input[type="submit"] {
    padding: 20px;
    color: #ffffff;
    background: #033166;
    width: 150px;
    margin: 20px auto;
    margin-top: 0;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
  }
  input[type="submit"]:hover {
    background-color: #00b8eb;
  }

  .registro-enlace {
    text-align: center;
    color: #ffffff;
}

.registro-enlace:hover {
    font-weight: bold;
    text-decoration: underline; 
}

.regresar {
    text-align: center;
    color: #ffffff;
}

.regresar:hover {
    font-weight: bold;
    text-decoration: underline; 
    font-weight: bold;
}

/* Estilo para el mensaje de éxito o error */
.message {
    margin: 10px 0;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
}

.message {
    background-color: #18e295;
}

.message.error {
    background-color: #f8d7da;
 
}